.navbar {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  font-weight: normal;
  /* ad6c60 */
}

body {
  background-image: url("https://www.imageshine.in/uploads/gallery/Geometric-pattern-background-vector-in-white.jpg");
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Adjust the last value (opacity) as needed */
  overflow-x: hidden;
}

.raleway {
  font-family: "Raleway";
}
a {
  text-decoration: none !important;
}
.dr {
  color: white;
}
a:hover {
  color: #ad6c60 !important;
}
.card-title {
  font-family: "Raleway", sans-serif;
}
.mt-7 {
  margin-top: 6rem;
}
.row {
  font-family: "Oswald", sans-serif;
}
.osw {
  font-family: "Oswald", sans-serif;
}
.card-hover {
  transition: background-color 0.4s, color 0.3s; /* Add transition for a smoother effect */
}

.card-hover:hover {
  background-color: black;
  color: white;
}
.scale:hover {
  animation: scaleUp 0.5s ease-in;
}

@keyframes scaleUp {
  0% {
    transform: scale(1); /* Initial size */
  }
  50% {
    transform: scale(1.05); /* Increased size halfway through */
  }
  100% {
    transform: scale(1.1); /* Increased size on hover */
  }
}

.decard-hover:hover {
  background-color: white;
}

.subhead {
  font-size: 500%;

  font-weight: 800 !important;
  line-height: 60px;
}
.w-60 {
  width: 60%;
}
.ms-6 {
  margin-left: 6rem;
}
.mon {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.underhover:hover {
  color: black !important;
  text-decoration: underline !important;
}
.bgDarkHov:hover {
  background-color: #222222 !important;
  color: white;
  transition: ease-in-out 0.25s;
}
.bigF {
  font-size: 2.8rem !important;
  color: grey;
  font-family: "Playfair Display", serif !important;
}

/* Media query for small screens */
@media (max-width: 767px) {
  .bigF {
    font-size: 1rem !important; /* Set a smaller font size for small screens */

    color: grey;
    font-family: "Playfair Display", serif !important;
  }
}

.bgDarkHov {
  font-family: "Playfair Display", serif; /* Add transition for a smoother effect */
}

.btn-donate {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: rgb(4, 5, 5);
  --btn-bg-2: rgb(0, 0, 0);
  --btn-bg-color: rgb(57, 55, 55);
  --radii: 0.5em;
  color: white !important;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(16, 16, 17, 0.5),
    0px 5px 5px -1px rgba(74, 73, 72, 0.25),
    inset 4px 4px 8px rgba(213, 231, 239, 0.5),
    inset -4px -4px 8px rgba(23, 27, 33, 0.35);
}

.btn-donate:hover {
  background-position: right top;
}

.btn-donate:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .btn-donate {
    transition: linear;
  }
}
.w-10 {
  width: 10% !important;
}

hr.style15 {
  border-top: 4px double #050505;
  text-align: center;
}
hr.style15:after {
  content: "\002665";
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px;
}
.date {
  font-size: large;
}

.shadow {
  -webkit-box-shadow: 7px 7px 13px 8px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 7px 7px 13px 8px rgba(0, 0, 0, 0.67);
  box-shadow: 7px 7px 13px 8px rgba(0, 0, 0, 0.67);
}
.shadow2 {
  -webkit-box-shadow: 0px 5px 15px 3px rgba(74, 74, 74, 1);
  -moz-box-shadow: 0px 5px 15px 3px rgba(74, 74, 74, 1);
  box-shadow: 0px 5px 15px 3px rgba(74, 74, 74, 1);
}
.mainHead {
  font-family: "Nova Square", sans-serif;
}
